html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;


  font-family: 'Luckiest Guy', sans-serif;
}

canvas {
  display: block;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('fonts/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
draw{

  font-family: 'Luckiest Guy', sans-serif;
}

button,main,text{
font-weight: lighter;
  font-family: 'Luckiest Guy', sans-serif;
}